@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<HR_System.Models.Vacation>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VacationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VacationName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VacationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VacationName)
            </td>
         @*   <td>
                <a asp-action="Edit" asp-route-id="@item.VacId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VacId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VacId">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>